<!-- Additional head bits without overriding original head -->
<meta name="description" content="Resume - Projects - Software Engineer" />
<meta property="og:title" content="Vu N. Nguyen" />
<meta property="og:description" content="Resume - Projects - Software Engineer" />
<meta property="og:image" content="https://vnguyen.io/assets/vu.png" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116475234-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116475234-1');
</script>